<ul>
  <li>
    <h2>Présentation</h2>
    <p>
      M. Carey est un jeune artisan de 32 ans qui est passionné et expert en ferronerie.
      Après avoir réalisé des études dans ce domaine et avoir acquis plusieurs années
      d'expériences, il propose désormais des réalisations pour de nombreux clients.
    </p>
  </li>

  <li>
    <h2>Savoir faire</h2>
    <p>
      Passionné par la maléabilité du fer, M. Carey propose son savoir faire en ferronnerie
      et menuiserie métallique afin de vous fournir des produits, principalement en
      fer forgé, de haute qualité et aux finitions les plus parfaites possibles.

      Chaque pièce réalisée est en fer forgé traditionnel, et est travaillée à
      la main jusqu’à l’obtention de la forme adéquate.
    </p>
  </li>

  <li>
    <h2>Situation</h2>
    <p>
      La ferronerie de Jean-Paul Carey se situe dans le Vaucluse (84), plus précisement à Carpentras.
    </p>
    <div id="map_canvas"></div>
  </li>
</ul>