<%= image_tag('home.png', size: "250x250", class: 'rounded') %>

<h3>
  <%= image_tag('icons/arrow.png', class: 'arrow') %>
  Autodidacte c'est le terme
</h3>
<p>
  Étant diplômé dans le graphisme 2D/3D, j'ai pu travailler dans des sociétés pour
  divers projets (courts métrages, pubs, etc.). Durant ces années, devant mon
  ordinateur, le manque de volume et le besoin de créer s'est fait sentir.
</p>

<h3>
  <%= image_tag('icons/arrow.png', class: 'arrow') %>
  La création manuelle
</h3>
<p>
  Dans cette optique, j'ai visité un salon du jardin. En m'approchant, j'ai
  entendu un son régulier et aigu, c'était une enclume et son ferronnier. Une longue
  discussion et la passion surgit. La malléabilité du fer et la
  précision m'ont poussé à entreprendre la démarche vers un ferronnier.
</p>

<p>
  Suite à une formation de deux de 2 ans en ferronnerie, j'ai pu voir
  et travailler sur des techniques différentes et concrètes.
</p>

<p>
  Depuis, je réalise des projets pour des clients, et une confiance c'est installée sur
  la qualité mais aussi sur la vision du projet. Celle-ci commence toujours par un dessin que
  l'on peut modifier ensemble et termine sur la fabrication du produit.
</p>

<p>
  Je vous laisse donc visiter mon site en vous disant à très bientôt pour un futur
  projet que l'on pourra étudier ensemble autour de la forge !
</p>

<p><i>Jean Paul Carey</i></p>