<div class="projects">
  <% project_pictures.each do |picture| %>
    <a href="/images/projects/<%= picture %>" rel="lightbox[projects]">
      <%= image_tag("projects/#{picture}", :class => 'preview rounded') %>
    </a>
  <% end %>
</div>