<div class="image_carousel">
  <div id="pictures">
    <% project_pictures.each do |picture| %>
      <a rel="fancybox" href="/images/projects/<%= picture %>">
        <%= image_tag("projects/#{picture}", size: '250x250') %>
      </a>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
